# === Base de datos (PostgreSQL) ===
DB_HOST=db-notificaciones
DB_PORT=5432
DB_NAME=agm_notificaciones_db
DB_USER=agm_user
DB_PASSWORD=tu_password_aqui

# === SMTP (Correo electrónico - Mailtrap o similar) ===
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=ingresa_tu_usuario_aqui
SMTP_PASS=ingresa_tu_password_aqui
SMTP_FROM_NAME=AGM Sistema Academico
SMTP_FROM_EMAIL=noreply@agm.buap.mx

# === Servidor ===
REST_PORT=3006
GRPC_PORT=50056

# === CORS ===
CORS_ORIGIN=http://localhost:4200