# ===========================================
# MS-3: Docentes & Alumnos — Dependencias
# ===========================================

# --- Framework ---
django==5.2.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
drf-yasg==1.21.10

# --- Base de datos ---
psycopg2-binary==2.9.10

# --- PDF parsing ---
pdfplumber==0.11.6

# --- gRPC ---
grpcio==1.80.0
protobuf==6.31.1

# --- HTTP client (comunicacion REST con MS-1 Auth) ---
httpx==0.28.1

# --- Entorno ---
python-dotenv==1.1.0

# --- Broker ---
pika==1.3.2
