django==6.0.5
djangorestframework
django-cors-headers==4.4.0      # Manejo de cabeceras CORS en Django
pika==1.3.2                     # Publicador de RabbitMQ
python-dotenv
psycopg2-binary
grpcio
grpcio-tools
openpyxl
reportlab
drf-yasg
gunicorn
requests